ng-select {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 0px;
  padding: 15px;
}
.selectlist {
  margin: 20px;
  height: 70px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
}
.selectlist2 {
  margin: 14px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
}
.pendingg {
  color: white;
  background-color: rgba(24, 24, 231, 0.842);
  border-radius: 5px;
  text-align: center;
  padding: 2px;
}
.deactive {
  color: white;
  background-color: rgba(248, 18, 18, 0.842);
  border-radius: 5px;
  text-align: center;
  padding: 2px;
}
.cancell {
  color: white;
  background-color: rgba(130, 235, 26, 0.774);
  border-radius: 5px;
  text-align: center;
  padding: 2px;
}
.complete {
  color: white;
  background-color: rgba(38, 214, 22, 0.788);
  border-radius: 5px;
  text-align: center;
  padding: 2px;
}
.successfulll {
  color: white;
  background-color: rgba(134, 250, 40, 0.788);
  border-radius: 5px;
  text-align: center;
  padding: 2px;
}
.laeves {
  color: white;
  background-color: gray;
  border-radius: 5px;
  text-align: center;
  padding: 2px;
}
th {
  font-family: "poppins", sans-serif;
}
td {
  font-family: "poppins", sans-serif;
}
.listsee {
  height: 10px;
}
.icon {
  font-size: 19px;
}
// card
// .lsittotal{

// }
.form-head {
  background-color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  height: 103px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.card-body {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media (min-width: 1px) and (max-width: 768px) {
  ion-item {
    margin-left: auto;
    margin-right: auto;
    --border-radius: 10px;
    background-color: #222736;
    padding: 0px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 9px;
  }
}
@media (min-width: 769px) {
  ion-item {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    --border-radius: 10px;
    background-color: #222736;
    padding: 0px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 9px;
  }
}
.backbtn {
  margin-left: 10px;
}
.center-placeholder {
  display: flex;
  margin-left: 15px;
}

.button1 {
  width: 120px;
  height: 45px;
  margin-left: 20px;
  --border-radius: 10px;
  ion-icon {
    margin-left: 15px;
  }
}
.list {
  text-align: end;
  margin-right: 2%;
  padding: 0;
  background-color: transparent;
}

//========================== My Css ==============================

ion-item {
  --border-radius: 10px;
  background-color: #222736;
  padding: 0px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 9px;
}
ion-select {
  --placeholder-color: #222736;
  --placeholder-opacity: 1;
  width: 100%;
  justify-content: center;
}
ion-select::part(placeholder),
ion-select::part(text) {
  flex: 0 0 auto;
  .item-native {
    background-color: #222736;
  }
}
.item-native {
  background-color: #222736;
}
// ion-select::part(placeholder)::first-letter {
//   font-size: 24px;
//   font-weight: 500;
// }

ion-select::part(text) {
  color: #222736;
}
ion-select::part(item) {
  background-color: #222736;
}

ion-select::part(icon) {
  color: #222736;
  float: right;
  opacity: 1;
}

.alert-radio-group.sc-ion-alert-ios,
.alert-checkbox-group.sc-ion-alert-ios {
  --offset-bottom: auto !important;
  --overflow: hidden;
  overflow: auto;
  &::-webkit-scrollbar {
    // display: none;
    width: 6px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 9px;
    // background-color: #448b68;
    background-image: linear-gradient(90deg, #4a926e, #19804c);
  }
}

//.......
@import url(https://fonts.googleapis.com/css?family=Montserrat);

$offwhite: darken(white, 10%);
$darkblue: rgb(50, 50, 60);
*,
*::after,
*::before {
  box-sizing: border-box;
}
button {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

button {
  position: relative;
  border: none;
  font-size: 15px;
  transition: color 0.5s, transform 0.2s, background-color 0.2s;
  outline: none;
  border-radius: 10px;
  margin: 0 10px;
  padding: 15px 25px;
  border: 2px solid transparent;
  background: #222736;

  &:active {
    transform: translateY(3px);
  }

  &::after,
  &::before {
    border-radius: 2px;
  }
}

.shrink-border {
  background-color: rgb(255, 255, 255);
  color: #222736;

  &:hover {
    background-color: transparent;
    box-shadow: none;
    color: rgb(255, 255, 255);
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #222736;
    transition: opacity 0.3s, border 0.3s;
    border-radius: 10px;
  }

  &:hover::before {
    opacity: 0;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #293149;
    border: 2px solid rgb(197, 197, 197);
    border-radius: 10px;
    opacity: 0;
    z-index: -1;
    transform: scaleX(1.1) scaleY(1.3);
    transition: transform 0.3s, opacity 0.3s;
  }

  &:hover::after {
    opacity: 1;
    transform: scaleX(1) scaleY(1);
  }
}
.myrow1 {
  transition: ease-in-out 1s;
}
.mycard1 {
  border-radius: 20px;
  padding-top: 10px;
  width: auto;
}
.mylist1 {
  background-color: transparent;
  padding-bottom: 0;
}
.myth1 {
  //   display: flex;
  //   flex-direction: column;
  align-items: center;
}

ion-content {
  --offset-bottom: auto !important;
  --overflow: hidden;
  overflow: auto;
  &::-webkit-scrollbar {
    // display: none;
    width: 6px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 9px;
    background-color: #222736;
    // background-image: linear-gradient(90deg, #4a926e, #19804c);
  }
}
