ion-select {
  border: 1px solid #ced4da;
  border-radius: 0.375rem;
  padding: 9px;
}
ion-input {
  color: #020101;
  --padding-bottom: 0px;
  --padding-end: 0px;
  --padding-start: 0px;
  --padding-top: 0px;
  margin: 0%;
}

ion-icon {
  position: absolute;
  color: #020101;
  font-size: 19px;
  z-index: 1000;
  right: 17px;
  top: 20px;
  &:hover {
    cursor: pointer;
  }
}

ion-select {
  color: black;
  border-color: #5f5f5f;
  display: flex;
  justify-content: center;
  padding: 0;
  text-indent: 15px;
  height: 50px;
}

.grid2 {
  width: 100%;
  padding: 0%;
  margin: 0%;
  ion-row {
    width: 100%;
    border-bottom: 1px solid #e3e2e2;
    padding: 0%;
    margin: 0%;
    .col1 {
      padding-left: 2vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .col2 {
      margin: 0%;
      padding: 0%;
      display: flex;
      justify-content: center;
      padding-right: 1vw;
    }
  }
}
